.AboutSection {
	background-color: var(--text-color);
	border-radius: var(--border-radius);
	color: var(--bg-color);
	padding: 2rem;
	margin-top: 2rem;
	.AboutTopBar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		flex-wrap: wrap;
		h3 {
			font-size: 2rem;
			margin-bottom: 1rem;
			font-weight: 700;
		}
		p {
			font-size: 0.75rem;
			margin-bottom: 1rem;
			font-weight: 400;
			text-align: justify;
		}
		.AboutTopBarColume {
			max-width: 45%;
		}
	}
}
