.Logo {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-weight: 600;
	b {
		display: none;
	}

	@media screen and (max-width: 420px) {
		span {
			display: none;
		}
		b {
			display: block;
		}
	}
}
