.CustomCard {
	border-radius: var(--border-radius);
	min-height: 150px;
	height: 100%;
	padding: 1rem;
	display: flex;
	justify-content: space-between !important;
	flex-direction: column;
	z-index: 100;
	box-shadow: var(--box-shadow);
}
.Primary {
	background: var(--primary-color);
}
.Secondary {
	background: var(--secondary-color);
}
.bg {
	background: var(--text-color);
}
.None {
	background: linear-gradient(
		112deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 101.12%
	);

	backdrop-filter: blur(21px);
}
