.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem;

	.RightSide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.75rem;
	}

	@media screen and (max-width: 420px) {
		.RightSide {
			gap: 0.5;
		}
	}
}
