.Footer {
	background-color: var(--text-color);
	position: relative;
	bottom: 0;
	left: 0;
	.Copyright {
		padding: 1rem 0;
		text-align: center;
		color: var(--bg-color);
		a {
			color: var(--bg-color);
		}
	}
}
